<h1>
  <div class="row">
    <div class="col-md-10 page-title">
      <%%= t('activerecord.models.<%= singular_table_name %>.other') %> <small><%%= t('crud.title.new') %></small>
    </div>
  </div>
</h1>

<%%= render 'form' %>
